:root{
    --green:#27ae60;
    --black:#192a56;
}

* {
    margin: 0rem;
    padding: 0rem;
    outline: none;
    box-sizing: border-box;
    line-height: inherit;
    color: inherit;
    font: inherit;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
}

.parent_container  {
     margin-top: 25vh;
}

.page_container {
    border: solid black .1rem;
    border-radius: .2rem;
    padding: 4rem;
}

.parent_container .page_container .title_page {
    display: flex;
    justify-content: center;
}

.parent_container .page_container .title_page h1  {
    background: gray;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    font-size: 2rem;
    text-align: center;
    width: 30rem;
    margin-bottom: 4rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.parent_container .page_container form {
    position: relative;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    gap: 3rem;
    height: auto;
    width: 55rem;
    left: 2.5rem;
}

.parent_container .page_container form div {
    display: flex;
    flex-direction: column;
}

.parent_container .page_container form div label {
    margin-bottom: 0.5rem;
}

.parent_container .page_container form div .input_form {
    margin-bottom: 2rem;
    width: 23rem;
}

.parent_container .page_container form div .input_form::placeholder {
    font-weight: 300;
    color: rgb(201, 190, 190);
    font-style: italic;
}

.parent_container .page_container form div .messages {
    font-size: 1.2rem;
    font-weight: 400;
    color: red;
    margin: -1.7rem 0 2rem 0;
}

.parent_container .page_container form #submit_registration {
    height: 2.5rem;
    width: 10rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

@media screen and (max-width: 635px) {

    .parent_container {
        margin-top: 11vh;
    }

    .parent_container .page_container{
        width: 40rem;
    }
    .parent_container .page_container form{
        display: block;
        width: 23rem;
        left: 14%;

    }
}